.card{
    background: var(--color-background-card);
    background: var(--color-background-gradient-card);
    width: 360px;
    padding: 2rem 2rem;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.secondCard{
    background: var(--color-background-card);
    background: var(--color-background-gradient-card);
    width: 360px;
    padding: 2rem 2rem;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.star{
    background-color: var(--color-background-star-ratingButton--pill);
    border-radius: 100%;
    padding: 10px;
}

.text h1{
    padding-bottom: 0.5rem;
}

.title{
    font-size: 1.8rem;
}

.description{
    color: var(--color-background-description);
    font-size: 12px;
}

.ratingButton{
    background-color: var(--color-background-star-ratingButton--pill);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: var(--color-ratingButton);
    cursor: pointer;
}

.ratingButton:hover{
    background-color: var(--color-background-ratingButton--hover);
    color: var(--color-white);
}

.ratingButton:focus{
    background-color: var(--color-orange);
    color: var(--color-white);
}

.buttonGroup{
    display: flex;
    gap: 1rem;
}

.submitButton{
    color: var(--color-white);
    background-color: var(--color-orange);
    border: none;
    padding: 10px;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.submitButton:hover{
    color: var(--color-orange);
    background-color: var(--color-white);
}

.backButton{
    color: var(--color-white);
    background-color: var(--color-orange);
    border: none;
    padding: 10px;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0.5rem;
}

.backButton:hover{
    color: var(--color-orange);
    background-color: var(--color-white);
}

.pill{
    background-color: var(--color-background-star-ratingButton--pill);
    color: var(--color-orange);
    font-weight: 400;
    font-size: 14px;
    padding: 4px 20px;
    border-radius: 20px;
}

.textCenter{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0.7rem;
}